/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "admin/clients/authorization/policy/policy-details.css"
 * 
 * This file is provided by @keycloakify/keycloak-admin-ui version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */


.pf-v5-c-button.keycloak__client-authorization__policy-row-remove {
  color: var(--pf-v5-c-button--m-plain--Color);
}
