/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "admin/components/keycloak-card/keycloak-card.css"
 * 
 * This file is provided by @keycloakify/keycloak-admin-ui version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */

.keycloak-admin--keycloak-card__footer-text {
  --pf-v5-l-flex--spacer: var(--pf-v5-l-flex--spacer--lg);
}
