/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "admin/authentication/policies/policy-row.css"
 * 
 * This file is provided by @keycloakify/keycloak-admin-ui version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */

@media (min-width: 768px) {
  .keycloak__policies_authentication__form .pf-v5-c-form__group {
    --pf-v5-c-form--m-horizontal__group-label--md--GridColumnWidth: 10rem;
  }
}
.keycloak__policies_authentication__minus-icon svg {
  color: var(--pf-v5-c-button--m-plain--Color);
}

.keycloak__policies_authentication__number-field {
  --pf-v5-c-number-input--c-form-control--Width: 10ch;
}