/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "admin/clients/service-account/service-account.css"
 * 
 * This file is provided by @keycloakify/keycloak-admin-ui version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */


.keycloak--service-account--info-text {
  color: var(--pf-v5-global--info-color--100);
  display: inline;
  font-size: var(--pf-v5-global--FontSize--lg);
}