/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "login/assets/fonts/geist/index.css"
 * 
 * This file is provided by @oussemasahbeni/keycloakify-login-shadcn version 250004.0.11.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */

@font-face {
    font-family: "Geist";
    src: url("./Geist-Black.woff2") format("woff2");
    font-weight: 900;
    /* Black */
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("./Geist-Bold.woff2") format("woff2");
    font-weight: bold;
    /* Bold */
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("./Geist-Light.woff2") format("woff2");
    font-weight: 300;
    /* Light */
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("./Geist-Medium.woff2") format("woff2");
    font-weight: 500;
    /* Medium */
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("./Geist-Regular.woff2") format("woff2");
    font-weight: 400;
    /* Regular */
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("./Geist-SemiBold.woff2") format("woff2");
    font-weight: 600;
    /* SemiBold */
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("./Geist-Thin.woff2") format("woff2");
    font-weight: 100;
    /* Thin */
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("./Geist-UltraLight.woff2") format("woff2");
    font-weight: 200;
    /* UltraLight */
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("./Geist-UltraBlack.woff2") format("woff2");
    font-weight: 950;
    /* UltraBlack */
    font-style: normal;
}

@font-face {
    font-family: "Geist Variable";
    src: url("./GeistVariableVF.woff2") format("woff2");
    font-weight: 100 950;
    /* Range from Thin to UltraBlack */
    font-style: normal;
}
