/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "admin/user-federation/custom/custom-provider-settings.css"
 * 
 * This file is provided by @keycloakify/keycloak-admin-ui version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */

.keycloak__user-federation__custom-form {
  --pf-v5-c-form--m-horizontal__group-label--md--GridColumnWidth: 12rem;
}
