/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "admin/clients/authorization/search-dropdown.css"
 * 
 * This file is provided by @keycloakify/keycloak-admin-ui version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */

.keycloak__client_authentication__searchdropdown {
  --pf-v5-c-dropdown__toggle--MinWidth: 21rem;
}

.keycloak__client_authentication__searchdropdown_form {
  width: max-content;
  --pf-v5-c-form--m-horizontal__group-label--md--GridColumnWidth: 5rem;
  --pf-v5-c-form--m-horizontal__group-control--md--GridColumnWidth: 24rem;
  margin: var(--pf-v5-global--spacer--lg) var(--pf-v5-global--spacer--lg)
    var(--pf-v5-global--spacer--lg);
}
