/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "admin/user-federation/user-federation.css"
 * 
 * This file is provided by @keycloakify/keycloak-admin-ui version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */

.keycloak__user-federation__dropdown {
  margin-top: var(--pf-v5-global--spacer--lg);
}

.keycloak-admin--user-federation__gallery-item {
  display: contents;
}

.keycloak__user-federation__assign-role {
  display: flex;
  flex-direction: row;
  align-items: right;
}

.keycloak__user-federation__assign-role-btn {
  margin-left: 10px;
}