/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "admin/dashboard/dashboard.css"
 * 
 * This file is provided by @keycloakify/keycloak-admin-ui version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */

.keycloak__dashboard_icon {
  max-width: 114px;
}

.keycloak__dashboard_card {
  height: 100%;
}

.keycloak__dashboard_welcome_tab {
  max-width: 38%;
  margin-top: var(--pf-v5-global--spacer--md);
}
