/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "admin/sessions/SessionsSection.css"
 * 
 * This file is provided by @keycloakify/keycloak-admin-ui version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */

.kc-filter-session-type-select {
  margin-right: 10px;
  width: 300px;
}

.pf-v5-c-form__group.kc-revocation-modal-form-group {
  display: inline-block !important;
}
