/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "admin/components/dynamic/url-component.css"
 * 
 * This file is provided by @keycloakify/keycloak-admin-ui version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */

.keycloak__identity-providers__url_component > .pf-v5-c-form__group-control {
  padding-top: var(--pf-v5-c-form--m-horizontal__group-label--md--PaddingTop);
}
