/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "admin/components/group/group-picker-dialog.css"
 * 
 * This file is provided by @keycloakify/keycloak-admin-ui version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */

.keycloak-groups-group-path {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.join-group-dialog-row {
  cursor: pointer;
}