/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "shared/keycloak-ui-shared/scroll-form/scroll-form.module.css"
 * 
 * This file is provided by @keycloakify/keycloak-ui-shared version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */

.panel {
  margin-top: var(--pf-v5-global--spacer--lg);
}

.sticky {
  position: sticky;
  top: 0;
}
