/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "admin/components/key-value-form/AttributeForm.css"
 * 
 * This file is provided by @keycloakify/keycloak-admin-ui version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */

.pf-v5-c-tab-content.kc-attributes-tab {
    padding-left: var(--pf-v5-global--spacer--xl);
    padding-top: var(--pf-v5-global--spacer--lg);
}