/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "admin/clients/scopes/client-scopes.css"
 * 
 * This file is provided by @keycloakify/keycloak-admin-ui version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */


.keycloak__client-scopes-add__add-dropdown {
  margin-right: var(--pf-v5-global--spacer--md);
}

.kc-protocolType-select {
  max-width: 25%;
}