/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "admin/authentication/empty-execution-state.css"
 * 
 * This file is provided by @keycloakify/keycloak-admin-ui version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */

.keycloak__empty-execution-state__block {
  padding-top: var(--pf-v5-global--spacer--sm);
}
.keycloak__empty-execution-state__help {
  max-width: 36rem;
  margin: 0 auto var(--pf-v5-global--spacer--2xl);
}

.keycloak__empty-execution-state__help p {
  color: var(--pf-v5-global--Color--200);
}
