/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "admin/realm-settings/security-defences/security-defences.css"
 * 
 * This file is provided by @keycloakify/keycloak-admin-ui version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */


.keycloak__security-defences__form {
  --pf-c-form--m-horizontal__group-label--md--GridColumnWidth: 12rem;
}