/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "admin/groups/GroupsSection.css"
 * 
 * This file is provided by @keycloakify/keycloak-admin-ui version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */

.keycloak-admin--groups__member-count {
  display: flex;
  align-items: center;
}

.keycloak-admin--groups__member-count svg {
  color: var(--pf-v5-global--Color--200);
  font-size: var(--pf-v5-global--FontSize--md);
  margin-right: var(--pf-v5-global--spacer--sm);
}
