/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "admin/components/permission-tab/permissions-tab.css"
 * 
 * This file is provided by @keycloakify/keycloak-admin-ui version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */


.permission-label > .pf-v5-c-form__group-label {
  width: 120%;
}

.keycloak__permission__permission-table.pf-v5-c-card {
  border-top: 0;
  border-bottom: 0;
}