/**
 * WARNING: Before modifying this file, run the following command:
 * 
 * $ npx keycloakify own --path "admin/authentication/components/used-by.module.css"
 * 
 * This file is provided by @keycloakify/keycloak-admin-ui version 260305.0.0.
 * It was copied into your repository by the postinstall script: `keycloakify sync-extensions`.
 */

.label {
  padding: 0;
  font-size: var(--pf-v5-c-table--cell--FontSize);
  color: var(--pf-v5-global--success-color--100);
}
